

.chat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    height: 418px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    

}

.left-container {
    flex: 1;
    padding: 20px;
    
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}

.right-container {
    flex: 2;
    padding: 20px;
    
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.chat-history {
    height: 300px;
    
    /* border: 1px solid #ccc; */
    padding: 10px;
}

.text-input {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}